body{ 
    margin:0; 
    background-color: #eee;
}

form{
    width: 180px; 
    height:190px ; 
    background-color: #ddd; 
    margin:auto; 
    padding:20px ; 
    margin-top: 20px;
    border-radius: 5px;
}

input{
    padding: 5px;
    font-size: 13px ;
}
h2 { width: 145px; 
    height:20px ; 
    margin: auto;
    padding: 20px; }
