body {
  background-color: rgba(0, 0, 0, 0.11);
  margin: auto;
}
.containerTitle {
  display: flex;
  justify-content: center;
}
.containerTitle h2 {
  display: flex;
  justify-content: center;
}
.form {
  gap: 10px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 760px;
  justify-content: center;
}
.form .containerInput {
  width: 100%;
  display: flex;
  min-width: 300px;
  flex-direction: column;
  align-items: flex-start;
}
.form .containerInput input,
select {
  width: 100%;
}
.form .containerInput input::placeholder {
  color: rgb(185, 175, 175);
}
.form .containerInput textarea {
  width: 100%;
  resize: none;
  height: 200px;
  font-size: 15px;
}
.form .containerFlex {
  gap: 10px;
  width: 100%;
  display: flex;
}
.submit {
  padding: 10px;
}

.foto {
  float: left;
  margin-bottom: 20px;
}

.logo {
  width: 190px;
  height: 180px;
}

.containerLogo {
  background-color: rgba(0, 0, 0, 0.219);
  height: 180px;
  width: 100%;
}
